$color-primary: #8a2786;
$color-second: #ffff00;



@mixin mobile {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin up-mobile {
	@media only screen and (min-width: 769px) {
		@content;
	}
}

@mixin ipad {
	@media only screen and (min-width: 769px) and (max-width: 1024px) {
		@content;
	}
}

html,
body {
	height: 100%;
	min-height: 100%;
}

//共用樣式 start =================================
body {
	font-family: 'roboto', 'Noto Sans TC', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.75;
	color: #222;
	background-color: #FFF;
	overflow-x: hidden;
	position: relative;
}



section {
	padding: 120px 0;

	@include mobile {
		padding: 60px 0;
	}
}

a,
a:hover {
	text-decoration: none;
	display: block;
}

h1 {
	font-size: 32px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 30px;
	margin-top: 0;
	text-align: center;

	@include mobile {
		font-size: 28px;
		line-height: 1.3;
	}
}

h2 {
	font-size: 37px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 4px;
	text-indent: 4px;
	margin-bottom: 50px;
	margin-top: 0;
	text-align: center;

	&::after {
		content: " ";
		display: block;
		width: 400px;
		height: 2px;
		background-color: #d60c18;
		margin: auto;
		margin-top: 12px;
	}

	@include mobile {
		font-size: 24px;
		line-height: 1.4;
		margin-bottom: 30px;
		font-weight: 500;
		&::after {
			width: 250px;
		}
	}
}

h3 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.5;
	// text-align: center;
}

h4 {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
}

p {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.7;
	margin-top: 0px;
	margin-bottom: 0px;

	@include mobile {
		font-size: 18px;
	}
}

p+p {
	margin-top: 20px;
}

h6 {
	font-size: 17px;
	font-weight: 200;
	line-height: 1.5;
}

a {
	transition: .3s;
}

.mb-60 {
	margin-bottom: 60px;
}

//共用樣式 end =================================

//op
.main-kv {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;

	.bgExample {
		width: 100vw;
		height: 100vh;
		background: #292f39 url('../images/kv.jpg') no-repeat center center;
		background-size: 100%;
		animation: grow infinite alternate ease-in 7s;
		animation-direction: normal;
	}


	@keyframes grow {
		0% {
			transform: scale(1.4);
		}

		100% {
			transform: scale(1.8);

		}
	}

	@include mobile {
		// height: 95vh;
		.bgExample {
			// height: 95vh;
			background: #292f39 url('../images/mb-kv.jpg') no-repeat center center;
			background-size: 100%;
		}
		@keyframes grow {
			0% {
				transform: scale(1);
			}
	
			100% {
				transform: scale(1.3);
	
			}
		}
	}

	//title
	.kv-title {
		position: absolute;
		top: 70%;
		left: 50%;
		width: 750px;
		transform: translate(-50%, -50%);
		text-align: center;
		.kv-img {
			background: url('../images/kv.gif') no-repeat;
			background-size: 100% auto;
			width: 100%;
			&::before {
				content:"";
				display: block;
				padding-top:23%;
			}
		}
		// &::before {
		// 	position: absolute;
		// 	left: 0;
		// 	top: 18px;
		// 	display: inline-block;
		// 	content: url(../images/deco-l.svg);
		// 	width: 30px;
		// }
		// &::after {
		// 	position: absolute;
		// 	right: 0;
		// 	top: 18px;
		// 	display: inline-block;
		// 	content: url(../images/deco-r.svg);
		// 	width: 30px;
		// }
		// h1 {
		// 	font-size: 80px;
		// 	font-weight: 800;
		// 	color: #fff;
		// 	margin-bottom: 20px;
    	// 	line-height: 1;
		// 	display: inline-block;
		// 	text-shadow: 0 0 15px rgb(0,0,0 / 60%);
		// }
		// h4 {
		// 	font-size: 36px;
		// 	color: $color-second;
		// 	letter-spacing: 3px;
		// 	text-indent: 3px;
		// 	display: inline-block;
		// 	text-shadow: 0 0 15px rgb(0,0,0 / 60%);
		// }
		@include mobile {
			top: 73%;
			width: 80%;
			.kv-img {
				background: url('../images/mb-kv.gif') no-repeat;
				background-size: 100% auto;
				width: 100%;
				&::before {
					content:"";
					display: block;
					padding-top:55%;
				}
			}
			// &::before {
			// 	left: 30px;
			// 	top: 13px;
			// 	width: 28px;
			// }
			// &::after {
			// 	right: 30px;
			// 	top: 13px;
			// 	width: 28px;
			// }
			// span {
			// 	display: block;
			// }
			// h1 {
			// 	font-size: 52px;
			// 	display: block;
			// 	font-weight: 500;
			// 	line-height: 1.2;
			// }
			// h4 {
			// 	font-size: 22px;
			// }
		}
	}

	//scroll
	$line-height: 70px;
	$line-height-abs: -70px;

	.scroll-indicator {
		position: absolute;
		left: 50%;
		bottom: 0px;

		.scroll {
			width: 2px;
			height: $line-height;
			background-color: #ccc;
			position: relative;
			overflow: hidden;
			.scroll-line {
				width: 100%;
				height: 100%;
				display: block;
				background: linear-gradient(to bottom, rgb(87, 87, 87) 50%, rgba(120, 120, 120, 0) 50%);
				background-position: 0 $line-height-abs;
				background-size: 100% 200%;
				animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
			}
		}

		span {
			position: absolute;
			right: -55px;
			top: 0;
			letter-spacing: 1px;
			color: #ccc;
			font-size: 14px;
		}
	}

	@keyframes scrolldown {
		0% {
			background-position: 0 $line-height-abs;
		}

		75% {
			background-position: 0 0;
		}

		100% {
			background-position: 0 $line-height;
		}
	}
}

//chart
.section-chart {
	h2 {
		color: $color-primary;
	}
	.text-wrap {
		
		.item-center {
			// display: flex;
			// align-items: center;
			span {
				display: block;
				@include mobile {
					display:inline;
				}
			}
		}
	}
	.text-wrap+.text-wrap {
		margin-top: 60px;
	}
	// .chart {
	// 	position: relative;
	// 	margin: 50px auto;
	// 	font-size: 12px;
	// 	@include up-mobile() {
	// 		font-size: 14px;
	// 	}
	// 	&::before {
	// 		content: '';
	// 		display: block;
	// 		width: 100%;
	// 		padding-top: 53.5714285714%;
	// 	}
	// 	.chart-y-axis-unit {
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: flex-end;
	// 		padding-right: 10px;
	// 		color: #4d4d4d;
	// 	}
	// 	.chart-y-axis {
	// 		position: absolute;
	// 		top: 10%;
	// 		left: 0;
	// 		display: flex;
	// 		flex-direction: column-reverse;
	// 		justify-content: space-between;
	// 		width: 10%;
	// 		height: 90%;
	// 		padding-right: 10px;
	// 		padding-bottom: calc(1.75em + 2px);
	// 		color: #4d4d4d;
	// 		text-align: right;
	// 		@include up-mobile() {
	// 			width: 12%;
	// 		}
	// 		.label {
	// 			position: relative;
	// 			transform: translateY(50%);
	// 		}
	// 	}
	// 	.chart-y-axis-lineup {
	// 		position: absolute;
	// 		top: 8%;
	// 		left: 10%;
	// 		right: 9%;
	// 		height: 2em;
	// 		line-height: 1;
	// 		transform: translateY(50%);
	// 		@include up-mobile() {
	// 			left: 12%;
	// 			right: 10%;
	// 			font-size: 16px;
	// 		}
	// 		&::before {
	// 			content: '';
	// 			display: block;
	// 			position: absolute;
	// 			top: 50%;
	// 			left: 0;
	// 			right: 0;
	// 			height: 1px;
	// 			background-color: #000;
	// 			transform: translateY(-50%);
	// 		}
	// 		.text {
	// 			position: absolute;
	// 			top: 50%;
	// 			left: 100%;
	// 			width: 45px;
	// 			text-align: center;
	// 			transform: translateY(-50%);
	// 			@include up-mobile() {
	// 				width: 60px;
	// 			}
	// 		}
	// 	}
	// 	.chart-x-axis {
	// 		position: absolute;
	// 		bottom: 0;
	// 		left: 10%;
	// 		display: flex;
	// 		width: 81%; // 100%-10-9
	// 		color: #4d4d4d;
	// 		border-top: 2px solid #000;
	// 		@include up-mobile() {
	// 			left: 12%;
	// 			width: 78%; // 100%-12-10
	// 		}
	// 		.label {
	// 			width: 20%;
	// 			text-align: center;
	// 		}
	// 	}
	// 	.chart-bar-group {
	// 		position: absolute;
	// 		top: 8%;
	// 		bottom: calc(1.75em + 2px);
	// 		left: 0;
	// 		display: flex;
	// 		width: 100%;
	// 		padding-left: 10%;
	// 		padding-right: 9%;
	// 		@include up-mobile() {
	// 			padding-left: 12%;
	// 			padding-right: 10%;
	// 		}
	// 		.chart-bar {
	// 			position: relative;
	// 			width: 20%;
	// 			text-align: center;
	// 			.bar {
	// 				position: absolute;
	// 				bottom: 0;
	// 				left: 50%;
	// 				width: 74%;
	// 				transform: translateX(-50%);
	// 				@include up-mobile() {
	// 					font-size: 16px;
	// 				}
	// 				&::before {
	// 					content: '';
	// 					display: block;
	// 					position: absolute;
	// 					bottom: 0;
	// 					width: 100%;
	// 					background-color: #8a2786;
	// 				}
	// 			}
	// 			.text {
	// 				position: absolute;
	// 				left: 0;
	// 				right: 0;
	// 				bottom: 100%;
	// 				color: #8a2786;
	// 				font-weight: bold;
	// 				padding-bottom: 10px;
	// 				opacity: 0;
	// 				@media screen and (max-width: 390px) {
	// 					transform: scale(0.9);
	// 					margin-right: -25%;
	// 					margin-left: -25%;
	// 				}
	// 			}
	// 			&.chart-bar-2019 {
	// 				.bar {
	// 					height: 48%;
	// 				}
	// 			}
	// 			&.chart-bar-2020 {
	// 				.bar {
	// 					height: 56%;
	// 				}
	// 			}
	// 			&.chart-bar-2021 {
	// 				.bar {
	// 					height: 78%;
	// 					@include up-mobile {
	// 						height: 86%;
	// 					}
	// 					@include ipad {
	// 						height: 82%;
	// 					}
	// 					@media screen and (max-width: 320px) {}
	// 				}
	// 			}
	// 			&.chart-bar-2022,
	// 			&.chart-bar-2023 {
	// 				.bar {
	// 					height: 96%;
	// 				}
	// 			}
	// 		}
	// 	}
	// 	&.aos-animate {
	// 		.chart-bar-group .chart-bar {
	// 			.bar::before {
	// 				animation: fillColor 0.5s alternate forwards linear;
	// 			}
	// 			.text {
	// 				animation: textFadeUp 0.5s alternate forwards linear;
	// 			}
	// 			&.chart-bar-2019 {
	// 				.bar::before {
	// 					animation-delay: 0s;
	// 				}
	// 				.text {
	// 					animation-delay: 0.5s;
	// 				}
	// 			}
	// 			&.chart-bar-2020 {
	// 				.bar::before {
	// 					animation-delay: 0.5s;
	// 				}
	// 				.text {
	// 					animation-delay: 1s;
	// 				}
	// 			}
	// 			&.chart-bar-2021 {
	// 				.bar::before {
	// 					animation-delay: 1s;
	// 				}
	// 				.text {
	// 					animation-delay: 1.5s;
	// 				}
	// 			}
	// 			&.chart-bar-2022 {
	// 				.bar::before {
	// 					animation-delay: 1.5s;
	// 				}
	// 				.text {
	// 					animation-delay: 2s;
	// 				}
	// 			}
	// 			&.chart-bar-2023 {
	// 				.bar::before {
	// 					animation-delay: 2s;
	// 				}
	// 				.text {
	// 					animation-delay: 2.5s;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

@keyframes fillColor {
	0% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}

@keyframes textFadeUp {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

//article
.section-article {
	background: url(../images/bg.jpg) center no-repeat;
	background-size: cover;
	color: #fff;
	.your-class {
		@include ipad {
			padding: 0 10px;
		}
		@include mobile {
			padding: 0 20px;
		}
	}
	.article-item {
		// padding:0 20px;
		a {
			color: #fff;
			margin: 20px auto;
	
			h5 {
				color: $color-second;
				text-align: center;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.5;
			}
	
			h4 {
				opacity: .8;
				transition: .2s;
				@include mobile {
					opacity: 1;
					font-weight: 400;
				}
			}
	
			img {
				display: block;
				width: 100%;
				margin-bottom: 20px;
				filter: grayscale(20%);
				transition: .2s;
			}
	
			&:hover {
				img {
					filter: grayscale(0%);
					transition: .2s;
				}
	
				h4 {
					opacity: 1;
					transition: .2s;
				}
			}
		}
	}
}


// info
.section-info {
	background: url(../images/bg.jpg) center no-repeat;
	background-size: cover;
	color: #fff;
	// a {
	// 	display: inline-block;
	// 	color: #fff;
	// 	background-color: $color-primary;
	// 	border-radius: 12px;
	// 	.more {
	// 		margin:10px 30px;
	// 	}
	// }

	.more {
		text-align: center;
		margin-top: 30px;
		a {
			background-color: $color-primary;
			border-radius: 12px;
			display: inline-block;
			color: #fff;
			font-size: 18px;
			padding:10px 60px;
			letter-spacing: 3px;
			text-indent: 3px;
			position: relative;
			transition:.3s;
			&::after {
				display: inline-block;
				content: url(../images/point.svg);
				width: 50px;
				position: absolute;
				right: -10px;
				top: 15px;
			}
			&:hover {
				transition:.3s;
				background-color: #d60c18;
			}
		}
	}

}


//footer
footer {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: .8125rem;
	background-color: #eee;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.justify-between {
	justify-content: space-between;
}

.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer .copyright {
	position: relative;
	width: calc(100% - 460px);
	z-index: 1;
}

footer .copyright__cwlink {
	margin-bottom: 1.5em;
	margin-right: -460px;
}

footer .copyright__cwlink li:first-child {
	padding-left: 0;
	border-left: 0;
}

footer .copyright__cwlink li {
	padding: 0 1em;
	line-height: 1;
	border-left: 1px solid #171717;
}

footer a {
	color: #171717;
}

footer a:hover {
	color: #d60c18;
}

footer .imglink {
	width: 410px;
}

footer .imglink__sns {
	font-size: 30px;
}

footer .imglink__sns li:first-child {
	margin-left: 0;
}

footer .imglink__sns li {
	margin-left: 0.33333em;
	line-height: 1;
}

footer .imglink__sns li a {
	text-decoration: none;
	width: 30px;
	height: 30px;
}

a.sns {
	display: block;
	color: #939ea7;
}

footer .imglink {
	align-items: flex-end;
}

footer .imglink__app {
	margin-left: 1em;
}

footer .imglink__app__title {
	margin-bottom: 0.75em;
	text-align: center;
}

footer .imglink__app__img li+li {
	margin-left: 0.5em;
}

footer .copyright__contact span {
	display: block;
	padding-right: 1em;
}

@include mobile {
	footer>.container>.flex {
		flex-direction: column;
	}

	footer .copyright {
		order: 2;
		width: 100%;
	}

	footer .imglink {
		order: 1;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	footer .imglink__app {
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
	}

	footer .imglink__app__title {
		text-align: left;
	}

	footer .copyright__cwlink {
		display: none;
	}

	footer .copyright__contact span:nth-child(4) {
		margin-top: 1em;
	}


}